* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  }


  a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
  }

  .top-bar{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  
    padding: 20px 0;
    display: flex;
    justify-content: center;

  }
  
  .menu {
    border: 1px solid #fff;  
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
  }

  .links a {
    color: #fff;
  }

  .main {
    margin-left: 20px;
  }

  .data {
    margin-left: auto;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .header a {
    color: #5995DA;
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

  .first-item {
    order: 1;
  }

  .last-item {
    order: -1;
  }

  .project, 
  .github {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-one,
  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}

  .back {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    .page {
        width: 100%;
        margin: 0 auto;
      }

    }

  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .page {
        width: 100%;
        margin: 0 auto;
      }


  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
        width: 100%;
        margin: 0 auto;
      }

  }
  